{% extends "accounts/base.html" %}

{% block content %}

<div>
    Уже имеете аккаунт? 
    <a href="{% url 'login' %}">Войти</a>
</div>

<div class="login-box">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="profile-div">
            <input class="profile-input" type="text" name="first_name" placeholder="Имя">
        </div>
        <div class="profile-div">
            <input class="profile-input" type="text" name="last_name" placeholder="Фамилия">
        </div>
        <div class="profile-div">
            <input class="profile-input" type="email" name="email" placeholder="Почта">
        </div>
        <div class="profile-div">
            <input class="profile-input" type="password" name="password" placeholder="Пароль">
        </div>
        <div class="profile-div">
            <input class="profile-input" type="password" name="password_confirm" placeholder="Подтвердите пароль">
        </div>
        <div class="profile-div">
            <input class="profile-submit" type="submit" value="Войти">
        </div>
    </form>
</div>

{% endblock %}