{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <header>

        <a class="logo" href="/">Social Network</a>
        <div class="search">
            <form action="{% url 'main:search' %}" method="POST">
                {% csrf_token %}
                <input class="search-friends" type="search" name="search-friends" placeholder="Найди друзей!">
            </form>
        </div>

        <div class="profile">

            {% if user.is_authenticated %}
                <img class="profile-icon" id="profile_icon" src="../../static/main/image/face-man.png">
            {% else %}
                <a class="login_button" href="{% url 'accounts:login' %}">Войти</a>
                <a class="login_button" href="{% url 'accounts:registration' %}">Регистрация</a>
            {% endif %}  

            <div class="profile-icon-popup">
                <div class="profile-link-popup">
                    <a href="">Профиль</a>
                </div>
                <hr>
                <div class="logout-link-popup">
                    <a href="{% url 'accounts:logout' %}">Выйти</a>
                </div>
            </div>  
    
        </div>

    </header>

    <script src="../../static/main/js/profile.js" type="text/javascript"></script>
    {% block content %}{% endblock %}
</body>

</html>