{% extends "main/base.html" %}

{% block title %}My Page{% endblock %}

{% block content %}

<div class="home-main">
    <div class="home-page-left">
        <div class="profile-box">
            <div class="profile-box-div" >
                <img class="user-photo" src="../../static/main/image/face-man.png">
                <div>
                    <div class="name" >John Smith</div>
                    <div class="username">@username</div>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <ul>
                <li>
                    <img class="menu-icon" class="home-icon" src="../../static/main/image/home.svg">
                    <a href="{% url 'main:main' %}">Главная</a>
                </li>
                <hr>
                <li>
                    <img class="menu-icon" src="../../static/main/image/people.svg">
                    <a href="">Люди</a>
                </li>
                <hr>
                <li>
                    <img class="menu-icon" src="../../static/main/image/photo.svg">
                    <a href="">Фото</a>
                </li>
                <hr>
                <li>
                    <img class="menu-icon" src="../../static/main/image/news.svg">
                    <a href="">Новостная лента</a>
                </li>
                <hr>
                <li>
                    <img class="menu-icon" src="../../static/main/image/person.svg">
                    <a href="">Профиль</a>
                </li>
            </ul>
        </div>
        <div class="ad" ></div>
    </div>

    <div class="news-feed">

        <div class="whats-new">
            <form action="">
                <div class="whats-new-inside">
                    <img  class="user-photo" src="../../static/main/image/face-man.png">
                    <div>
                        <input type="text" placeholder="Что нового, John?">
                    </div>
                    <div>
                        <input type="submit" value="Поделиться!">
                    </div>
                </div>
            </form>
        </div>

        <div class="main-feed">
            <div class="main-feed-info">
                <img class="user-photo" src="../../static/main/image/face-man.png">
                <div class="post-user-info">
                    <div class="post-user-name">John Smith</div>
                    <div class="post-time">12:34</div>
                </div>
                <div class="post-settings">
                    <img class="post-settings-img" src="../../static/main/image/three-dots.svg">
                </div>
            </div>
            <div class="post-text">
                Самый обычный пост, с самыми обычными фотографиями. Ничего интересного вы тут не увидите, кстати эти фото были сделанны в калифорнийских горах (Не все)
            </div>
            <div class="post-image">
                <div>
                    <img src="../../static/main/image/9348c7c8586b4734130fc168a2693f89.jpg">
                </div>
                <div>
                    <img src="../../static/main/image/abf8e57748d697ff8aebe872b72790c0.jpg">
                </div>
                <div>
                    <img src="../../static/main/image/c384862454e91e574eb2aaa7986756ea.jpg">
                </div>
                <div>
                    <img src="../../static/main/image/d8b05e53414c4dfa72c2dd4f312fe2cf.jpg">
                </div>
                <div>
                    <img src="../../static/main/image/5e057eac3694086ceefcf450a5cedfea.jpg">
                </div>
            </div>
            <div class="like-toolbar">
                <div class="like">
                    <img src="../../static/main/image/heart.svg">
                    <div class="likes-count">34</div>
                </div>
                <div class="comment-image">
                    <img src="../../static/main/image/chat-dots.svg">
                    <div class="comments-count">7</div>
                </div>
            </div>
        </div>

    </div>

    <div class="home-page-right">
        <div class="friend-request"></div>
    </div>
</div>
{% endblock %}